[2018-01-07 01:21] m-henderson opened #4 "Auto Migration"
we need to find a way to apply migrations automatically after the code is pussed to azure app service. if any of you have any suggestions, feel free to let us know.

[2018-01-07 01:27] m-henderson opened #5 "Home Page Design"
right now, the home page has the default information when you create an asp.net core application. We need to create a nice landing page for users. This would be a great first issue for someone that wants to get into contributing to open source.

[2018-01-07 01:53] m-henderson opened #7 "Add Authorization"
the authorization data annotation needs to be added to the tenant controller. This will insure that the user is logged in before seeing their tenants.

[2018-01-07 01:55] m-henderson opened #8 "Tenants In Correspondence to User"
right now, the tenants in the database are not tied to the user that creates them. We need to tie the logged in user to all the data they create so when you log in, you see your data and not anyone else's.

[2018-01-07 17:57] m-henderson opened #10 "return tenants that belong to logged in user"
we need to return the data that corresponds to the logged in user.

[2018-01-07 17:58] m-henderson commented on #10
pr https://github.com/mentorient/mentorient/pull/11 should fix this issue. I will test and close this issue if it does work.

[2018-01-07 22:43] m-henderson opened #14 "Create A Form"
The form when creating a new tenant is not put together at all and has no bootstrap. If anyone wants to style the form and make it more user friendly, that would be awesome. This would be a great first time issue for someone. 😃

The form is located at url /Tenants/New

If you have any questions just let me know.

[2018-01-07 22:51] m-henderson opened #16 "Payments Past Due System"
We need a way for the user of the application to be able to edit the tenant and set them past due if they are past due on their rent. Also, for future reference, we need to be thinking of an alert system that will email the user of the application if their tenant is past due.

[2018-01-08 01:01] m-henderson opened #17 "choose a status when creating new tenant"
the user of the applciation needs to be able to select a status of the new tenant from a drop down list within the form. I know three good statuses that could be useful to the user of the application:

1. Evicted
2. Passed
3. Current

[2018-01-08 02:33] m-henderson opened #18 "Change Destination of About Link"
Right now, the about link in the navigation bar redirects the user to https://mentorient-as.azurewebsites.net/Tenants

But, it needs to redirect to https://mentorient-as.azurewebsites.net/About

[2018-01-08 02:34] m-henderson opened #19 "Change Destination of Contact Link"
Right now, the about link in the navigation bar redirects the user to https://mentorient-as.azurewebsites.net/Tenants

But, it needs to redirect to https://mentorient-as.azurewebsites.net/Contact

[2018-01-08 02:34] m-henderson opened #20 "Contact Form"
We need a contact for on the website.

[2018-01-08 18:33] m-henderson opened #21 "Globally Authorize Application"
We need to authorize ( require user to be logged in to see content ) at a global level the use the allow anonymous attribute to allow access to views and controllers. If you have any questions about this, just let me know.

Set the default authentication policy to require users to be authenticated. You can opt out of authentication at the controller or action method with the [AllowAnonymous] attri

[2018-01-08 18:37] m-henderson opened #22 "Edit "New Tenant" Form"
The user of the application shoudl be able to type in the address of a tenant when adding a new tenant to the application. In the future, we are going to have multiple input fields, but I like to do it one at a time to keep things smooth. If you all have any suggestions, feel free to let us know.

[2018-01-08 18:47] m-henderson commented on #21
https://github.com/mentorient/mentorient/pull/23 should fix this issue nicely.

[2018-01-08 18:48] m-henderson commented on #21
I went ahead and merged this PR. I will test and this close this issue if everything is working fine.

[2018-01-08 18:48] #21 closed

[2018-01-09 16:52] m-henderson opened #26 "Create API"
we need to create an api so we can use jquery/javascript pull data from it and render the data in the dashboard panel.

[2018-01-09 16:56] m-henderson opened #27 "Edit View When Their Are No Tenants"
if their are no tenants found in the database the table still shows, like this:
![capture](https://user-images.githubusercontent.com/16070192/34732705-a1325234-f52b-11e7-8423-6a847ce2418a.PNG)

We dont need the table to show if there are not any tenants in the database, we just need te alert to show.

[2018-01-09 17:00] m-henderson opened #28 "Show Stats on User Dashboard"
We need to show some helpful stats to the user on their Dashboard. If we can get the API up and running, we can use jquery to pull data and then HighCharts to display it.

[2018-01-09 17:57] #27 closed

[2018-01-10 04:02] m-henderson opened #38 "User Should Be Able To View Tenants Details"
When the user is presented with ttheir table of tenants, they need a details button under the options column so they can view the details of the tenant.

[2018-01-11 20:15] me245 commented on #10
PR #40 should fix this now

[2018-01-11 20:22] me245 commented on #16
@m-henderson How full featured were you envisioning this system? I see the accounting tab on the application, so were you hoping for a system that keeps track of payments made with the user inputing the values into a form to keep track? Or were you hoping to build out an invoicing and potentially a payment system?

For right now I am going to assume that there will be at least a payment tracking s

[2018-01-11 21:19] m-henderson commented on #16
@me245 first of all, I would like to start out by saying thank you for your contributions. Secondly, I do not feel the need, at this time, for a system that processes payments. I have spoken with a few people in real estate and they deal mostly with cash. They just want a way to track, and change as needed, who has paid, who is past due, what the tenant's monthly payment is, etc. Then, they want t

[2018-01-11 21:55] rembrandtreyes commented on #19
Is this still up for grabs?

[2018-01-11 22:01] m-henderson commented on #19
@rembrandtreyes this was actually fixed in PR https://github.com/mentorient/mentorient/pull/24 . Sorry about that. Please have a look at some of the other issues and feel free to let me know if you have questions!

Aldo, don't hesitate to create an issue yourself.

cheers 🙂

[2018-01-11 22:01] #19 closed

[2018-01-11 22:29] rembrandtreyes opened #41 "Correct the placeholder text in new tenant form"
Some of the placeholder texts in the new tenant form has the incorrect placeholder text for Email, City, Zip, State, Country

![image](https://user-images.githubusercontent.com/15057964/34850706-0181127c-f6f5-11e7-8b04-98ad35c7575f.png)

[2018-01-11 22:38] rembrandtreyes commented on #41
While fixing this issue I also noticed that the IDs and Names within the HTML also do not reflect some of the fields. Would you like me to make those changes as well?

[2018-01-11 23:26] m-henderson commented on #10
Awesome (:

[2018-01-11 23:26] #10 closed

[2018-01-11 23:48] #41 closed

[2018-01-12 02:44] m-henderson opened #43 "Contact Form On Home Page Not working"
The contact form on the home page doesn't actually work yet, it is just a form that is not wired to the backend. would be awesome if we could get this up and running.

[2018-01-12 19:50] m-henderson commented on #43
right now, the contact form doesn't implement anything. I think implementing an smtp server on the server side using mail gun would be a good idea. I will let you know when I get mailgun setup. I havae used mailgun in the past for other projects and it has worked pretty well. It also will allow us to send up to 10,000 emails a month for free.

[2018-01-12 20:23] m-henderson opened #46 "New Tenant Form Vlidation"
The new tenant form doesn't have client side validation. We need to validate that the data input into the form to insure satisfies the validation requirements using jquery before it makes a round trip to the server. . In aspnet core, the validation is handled through data attributes which already import the jquery. All you have to do is add the data attributes to the model. we do this  in pr https

[2018-01-12 20:25] rembrandtreyes commented on #43
Ok perfect. I was going to try and tackle this, but my C# is a bit rusty but I was just trying to wrap my head around how we would be sending the emails and wasn't sure if you wanted me to set up an SMTP with a generic email and password.

But yeah let me know when you get that set up and I'll be happy to work on this. Partly for my segue back into C# and also creating forms with a backend.

[2018-01-12 20:35] rembrandtreyes commented on #46
I'll work on this while I wait on the setup of the Issue #43

[2018-01-12 20:51] me245 commented on #16
Gotcha. So do you want me to give you a pull request example of what I am thinking about as far as a receipt tracking system would be like? I am thinking, in terms of a user story it would look like this:

As a landlord
  I want to be able to log in and see which tenants are late
  So that I can follow up with them via face2face, phone/text, email
Acceptance Criteria:
Criteria1:
   Given I have en

[2018-01-12 20:58] me245 commented on #16
As a note for payment systems, if that is a feature that is requested I would suggest offloading a fair chunk of that to a 3rd party solution so that we don't have to worry to the same extent for compliance issues. It could integrate with https://stripe.com/ for example

[2018-01-12 21:04] m-henderson commented on #16
@me245 I agree! I think if we can put the liability on a 3rd party, then this will be a great feature!

[2018-01-12 21:12] m-henderson commented on #46
@rembrandtreyes sounds good 👍

[2018-01-12 21:55] m-henderson opened #47 "Dropdown list for states in new tenant form"
How would you all recommend on doing a drop down list for states in the new tenant form? should we create a model for states and then hold all the states in the database?

[2018-01-13 03:47] m-henderson commented on #38
https://github.com/mentorient/mentorient/pull/48 fixed this. I am going to go ahead and close this issue.

[2018-01-13 03:47] #38 closed

[2018-01-13 04:03] m-henderson opened #49 "User Should Be Able To Search Through Their Tenants"

[2018-01-13 16:41] m-henderson commented on #49
https://github.com/mentorient/mentorient/pull/50 fixed this.

[2018-01-13 16:41] #49 closed

[2018-01-15 01:32] m-henderson opened #53 "Remove the Dashboard Controller and Views"
I am going to remove the dashboard controller and views, I do not see a need for it at this time.

[2018-01-15 01:32] #28 closed

[2018-01-15 02:50] m-henderson commented on #53
https://github.com/mentorient/mentorient/pull/55 fixed this.

[2018-01-15 02:50] #53 closed

[2018-01-15 02:52] #18 closed

[2018-01-15 02:55] m-henderson opened #56 "Add Glyphicons To Navigation"
we need to add some glyphicons to the navigation bar to make it more appealing. Right now the home page has no design and doesnt look that great but we are going to get to working on that!

[2018-01-15 02:58] m-henderson opened #57 "Edit Accounting Entry Table"
the accounting entry table located at http://mentorient.com/Accounting has too many columns. We just need a basic table that shows the tenants name and a status that shows if they are past due on their payment.

[2018-01-15 03:00] m-henderson opened #58 "Easy Fix For The Home Page"
at the bottom of the homepage are three tabs located to the left of the contact form. We need to put some text in the Free Updates and Community Driven Tab.

[2018-01-15 03:01] m-henderson opened #59 "Edit Text On About Page"
The about page needs to have some text on it, at the least.

[2018-01-15 03:02] m-henderson opened #60 "Edit the Contact Page"
the contact page should have a form so users can contact us.

[2018-01-15 09:33] abhisaini commented on #60
what inputs you want in the form ?
should i also make the backend for that ?

[2018-01-15 12:09] m-henderson commented on #60
@abhisaini I think a name, email, and comments input would be good enough. What do you think?

As for the backend, I am working on getting mailgun setup so we can use it's API to send/forward email. I will let you know when I get that set up. @rembrandtreyes is still waiting on me to get mailgun setup so we can fix https://github.com/mentorient/mentorient/issues/43

[2018-01-15 12:18] abhisaini commented on #60
ohkk is the form i made okay...??
also i will try to learn mailgun..will try to integrate that

[2018-01-15 12:20] abhisaini commented on #60
i have an idea regarding backend of form.
how about using php or nodejs as backend ??

[2018-01-15 12:22] abhisaini opened #62 "Design of register and login page"
Design of register and login page isnt attractive...we can try changing that

[2018-01-15 12:25] m-henderson commented on #60
@abhisaini looks great to me!

I am working on getting mailgun up and running right now. I just have to finish tweaking the dns settings. We dont need to use php or nodejs on the backend because it would mix the code. The backend is 99% C# and we can send email with C# using mailgun's API 🙂

If you have any other ideas, feel free to address those 👍

[2018-01-15 12:27] m-henderson commented on #62
@abhisaini I agree! I am going to add the up-for-grabs and good first issue label.

[2018-01-15 12:34] abhisaini commented on #62
well i can make a try...but as i am not much familier to c#.
So i can only make the design...
Then u may need to introduce the c# part in the forms.
Should i proceed?

[2018-01-15 12:43] m-henderson commented on #62
@abhisaini that sounds good to me. for design, just stick to css and javascript. You can write all your css in this directory: wwwroot/css/site.css and all your JavaScript here: wwwroot/js/site.js

[2018-01-15 16:13] rembrandtreyes opened #65 "Add photos to home page"
Within the jumbotron div, we could add rotating images to the home page. The images can be anything related to real estate, and preferably images that are copyright free.

The implementation could be through javascript and CSS.

[2018-01-15 16:19] m-henderson commented on #65
I agree. We definitely need to improve the home page, it is very bland at the moment. for whover tackles this issue, you can get some good images over at pixabay

[2018-01-15 22:28] rembrandtreyes commented on #46
@m-henderson For the form validation. Did you want the phone number to take in a value of int? Becuase every time I try to run validation it states that it is out of the int bounds.  When I convert the variable to a string it then states that the SQL column only excepts int values. I think if we change the SQL column to except varchar it will allow me to pass the phone number through validation.

[2018-01-15 22:52] m-henderson commented on #46
@rembrandtreyes good point. let's go ahead and change that to a string. could you open up an issue about this?

If you dont feel comfortable fixing it, I will tackle it in about 30 minutes 👍

[2018-01-16 00:51] rembrandtreyes opened #66 "Change data type for phone number in tenant model"
Tenant model has phone number set to an int data type. Due to phone numbers being outside the range of type int this creates problems when a phone number is being passed in the new tenant form.

[2018-01-16 00:52] rembrandtreyes commented on #66
I’m fixing this already with the form validation. Just need the SQL table for tenant to have its phone number data type changed. Unless there’s a work around in C# that I don’t know about.

[2018-01-16 00:52] rembrandtreyes commented on #66
If not should we create an issue for the SQL data type change as well?

[2018-01-16 04:59] #66 closed

[2018-01-16 05:00] rembrandtreyes commented on #46
Form validation is complete just need to change the data type of phone number

[2018-01-16 05:02] rembrandtreyes opened #68 "Phone number SQL data type"
Whenever ever the for tries to pass in a phone number we get an error in the debugger. The error is caused by the phone number being a type int and the phone numbers are out of the range of int. Tried changing the data type to a string, but get another error in the debugger, this time it is because the data type on the back end only accepts integer for phone number and not a varchar.

[2018-01-16 12:37] m-henderson commented on #46
Awesome, I will work on this asap. I will keep you updated.

[2018-01-16 16:20] rembrandtreyes commented on #22
Maybe we can close this ticket since the form has been updated from other issues

[2018-01-16 16:20] rembrandtreyes commented on #46
This ticket can be closed as well.

[2018-01-16 18:54] m-henderson commented on #22
Thanks. I will go ahead and close.

[2018-01-16 18:54] #22 closed

[2018-01-16 18:54] m-henderson commented on #46
Thanks, I will go ahead and close this one too.

[2018-01-16 18:54] #46 closed

[2018-01-16 22:36] rembrandtreyes commented on #59
I'll add some text to the about page

[2018-01-17 00:24] #68 closed

[2018-01-17 00:24] m-henderson commented on #68
@rembrandtreyes done.

[2018-01-17 00:36] rembrandtreyes commented on #68
Nice!

[2018-01-17 01:43] rembrandtreyes opened #71 "Implement registration for tenants"
We should create a tenant login page as well for the system. The registration form can be either in the:
http://www.mentorient.com/Account/Register page

Or

We can split the register button on the home page and label them Property Owner | Tenant

Or the Register link can have a drop-down menu that will display the two.

There are plenty of ideas to go around, would like to get some feedback from

[2018-01-17 16:57] rembrandtreyes commented on #58
@m-henderson Made some changes to the home page with my PR #72 . Don't know why my old commits are on that PR but it should interfere since it was the last PR.

Unless you think it might mess with something.

[2018-01-18 11:47] rembrandtreyes commented on #58
We can close this issue.

[2018-01-18 11:56] rembrandtreyes commented on #59
We can close this issue.

[2018-01-18 12:02] rembrandtreyes commented on #47
I think creating a model would be the proper way to do so. Although since the name of states never change or should changed we can also create a drop down list within HTML.

I vote for a model though, just to keep our HTML cleaner.

[2018-01-18 14:09] m-henderson commented on #47
@rembrandtreyes good idea. We can render the states from the database. Also, I apologize for not submitting a lot of PR's this week. I started a new job and have been super busy between that and school! I will catch up this weekend though.

[2018-01-18 14:10] m-henderson commented on #59
@rembrandtreyes good deal. I am closing now.

[2018-01-18 14:10] #59 closed

[2018-01-18 14:10] m-henderson commented on #58
@rembrandtreyes thanks for the update. I am closing now.

[2018-01-18 14:10] #58 closed

[2018-01-18 15:04] m-henderson opened #73 "Add firstname and Last name to application user"
lets add the first name and last name property to application user model so we can store the first and last name of the user.

**warning**
I cant remember off the top of my head if the application user already has a column in the DB for firstname, i will have to check when I am able.

[2018-01-18 15:06] m-henderson opened #74 "display users name instead of email"
https://github.com/mentorient/mentorient/issues/73 will have to be fixed before we do this.  In the navbar, when a user logs in, it displays their username ( email address ). Lets have it just display their first name. for example:

Hello, Michael

[2018-01-18 15:09] m-henderson opened #75 "Send activiation email upon New User Registration"
When a new user registers, they should have to click a link that is sent to their email in order to verify they own the address. This will help us in the future when we get more users and start experiencing spam.

[2018-01-18 15:11] m-henderson opened #76 "SSL Cert"
I know you may have concerns about the site not being secured by an SSL cert. Just wanted to let you all know that I am working on that. I may have to end up migrating the site to Digital Ocean because azure wants me to pay a lot for a cert.

[2018-01-18 15:39] rembrandtreyes opened #77 "Caruosel on home page"
### Expected Behavior
Would like to add a Carousel in place of the jumbotron and have the Carousel auto cycle through the different tabs

### Actual Behavior
Currently, the home page has a plain jumbotron that does not have much styling done.

### Steps to change home page
Going to implement a carousel on the homepage
Make changes to the style and design of the home page using bootstrap
Add more t

[2018-01-19 01:05] rembrandtreyes commented on #77
Added Carousel to home page

[2018-01-19 19:20] m-henderson commented on #77
@rembrandtreyes go to mentorient.com and look at the carousel. is it showing wrong images?

[2018-01-19 19:30] rembrandtreyes commented on #77
Yeah, I forgot to mention I just chose the stock photos that came with the project as placeholders. I was going to update the photos in the next design iteration of the home page.

[2018-01-20 00:43] m-henderson commented on #77
No problem!

[2018-01-20 16:27] m-henderson opened #79 "New Accounting Entry Form (Easy fix)"
when clicking the cancel button on the new accounting entry form, it does not take you back to the account list; it does nothing. We need to wire the button up so the user can cancel the creation of a new accounting entry.

[2018-01-23 13:30] rembrandtreyes commented on #79
I'll try and do something with this today.

[2018-01-23 21:21] drazenp commented on #73
Since the next task is to display first name, maybe it's wort adding the first name as a claim to avoid reading from db on each page load?

[2018-01-24 01:41] m-henderson commented on #73
@drazenp Interesting. I think this is a good point and we could definitely do it this way.

[2018-01-24 01:41] m-henderson commented on #79
thanks @rembrandtreyes

[2018-01-24 01:45] m-henderson opened #81 "Home Page Design [URGENT]"
some images from dev accidentally got uploaded to the production server. Have a look at the screenshot below.
![image](https://user-images.githubusercontent.com/16070192/35310209-e5cc61dc-0075-11e8-8c00-3c1b788dd865.png)

[2018-01-24 02:01] m-henderson commented on #81
https://github.com/mentorient/mentorient/pull/82 will fix this for now.

[2018-01-24 02:01] #81 closed

[2018-01-25 00:41] m-henderson opened #85 "Home Page Design Proposal"
Does anyone else think that we should have something to the right of the contact form on the home page? It seems a little "empty" without anything there.

[2018-01-25 00:44] m-henderson opened #86 "Android App"
I just wanted to let everyone know that I am going to create a repo to start developing an android app for mentorient. I am going to need to finish up the API in order for the app to have a pipeline for getting and posting data. I will keep you all updated.

[2018-01-25 00:45] m-henderson opened #87 "iOS App"
I just wanted to let everyone know that I am going to create a repo to start developing an iOS app for mentorient. I am going to need to finish up the API in order for the app to have a pipeline for getting and posting data. I will keep you all updated.

[2018-01-25 00:56] m-henderson opened #88 "Error When saving firstname and lastname of user profile"
![image](https://user-images.githubusercontent.com/16070192/35365092-424949bc-0138-11e8-96fd-78caffff4617.png)

I will add some more info about this when i run in dev environment

[2018-01-25 09:39] drazenp commented on #88
The issue is probably an old user without claim added in the db. Right now on update first name try to replace existing claim and fail if claim doesn't exists.

Here is the sql query which should fix the issue (hopefully :) ). I'm not sure if this is the best option, or this should be part of the migration?

`insert into AspNetUserClaims (ClaimType, ClaimValue, UserId)
select 'urn:mentorient:first

[2018-01-25 09:51] drazenp commented on #88
I have created PR, but I'm not sure if it's really needed.
There is and small fallback to show username in the salutation if first name doesn't exits.

[2018-01-25 15:05] drazenp commented on #71
Is it possible to create tenant profile without property (to find one?)?

If tenant cannot exists without property owner we could add `invite` button next to each tenant. Property owner could send invitation (we need min email of the tenant). Tenant can click on the link in the email; redirect to page to add password; redirect on the page to add additional details (name, phone,...) or some other p

[2018-01-25 17:20] m-henderson commented on #88
@drazenp what was causing the issue?

[2018-01-26 00:26] #77 closed

[2018-01-26 00:29] #65 closed

[2018-01-26 23:54] m-henderson opened #94 "User Profile Picture"
It would be cool if the user could go to http://mentorient.com/Manage/Index and upload a profile picture and then have that picture in the upper right hand corner. what do yall think?

[2018-01-27 04:57] m-henderson opened #95 "Alert On Accounting Entry Page"
right now, if the user has not created any accounting entries the table headers stilll show, like this:
![image](https://user-images.githubusercontent.com/16070192/35468808-0b90ab58-02ec-11e8-83c7-0dc2254edec1.png)

If the user does not have any accounting entries then the table headers should not show and it should show any alert that says "oops.. you havn't created any accounting entries yet"

[2018-01-27 05:06] m-henderson opened #96 "Contacts Page"
we should make it to where the user can input and keep up with contacts. the new contact form should look like this:

![image](https://user-images.githubusercontent.com/16070192/35468855-2dfbf58e-02ed-11e8-8583-c17ec1417e2e.png)

The index action should return an index view that shows the users contacts. the table should have  3 headers: Name, Phone Number, and Email.

[2018-01-27 06:00] m-henderson commented on #96
got the ball rolling on this https://github.com/mentorient/mentorient/pull/98

[2018-01-28 04:14] m-henderson opened #101 "Error when running "dotnet ef database update" on production database"
Hey Contributors,
I created a contacts table in the database for users to store contacts. I was basically fixing issue https://github.com/mentorient/mentorient/issues/96

as you know, when you create a model you have to add a migration and then update the database so that the table is created. i created the contact model and everything worked find when updating the database on the dev machine.

wh

[2018-01-28 04:19] m-henderson commented on #101
Here is the image that better represents why we are getting the error:
![image](https://user-images.githubusercontent.com/16070192/35478948-295fd5f4-03b0-11e8-9a88-5cb7bb171893.png)

[2018-01-28 04:21] m-henderson opened #102 "Change FirstName Property in tenant Model"
lets change the FirstName property in the tenant Model to TenantFirstName. I think this will resolve https://github.com/mentorient/mentorient/issues/101

[2018-01-28 04:21] m-henderson commented on #101
I have created an issue that may fix this one. https://github.com/mentorient/mentorient/issues/102

[2018-01-28 11:08] drazenp commented on #102
If this PR https://github.com/mentorient/mentorient/pull/103 solve the problem with migrations we may not need anymore this issue.

[2018-01-28 20:35] m-henderson commented on #101
GREAT JOB @drazenp your PR fixed the issue with updating the database

[2018-01-28 20:35] #101 closed

[2018-01-28 20:35] m-henderson commented on #102
@drazenp great job! I merged your PR and everything is working correctly.

[2018-01-28 20:35] #102 closed

[2018-01-28 20:41] #96 closed

[2018-01-28 20:42] m-henderson commented on #95
awesome , I am going to go ahead and close this issue.

[2018-01-28 20:42] #95 closed

[2018-01-28 20:42] m-henderson commented on #88
I believe this is fixed; i amm closing.

[2018-01-28 20:42] #88 closed

[2018-01-28 20:43] m-henderson commented on #79
this is now working. I am going to go ahead and close.

[2018-01-28 20:43] #79 closed

[2018-01-28 20:44] m-henderson commented on #76
just an update. I have the appplication moved over to digital ocean.

[2018-01-28 20:46] m-henderson commented on #74
awesome, this is working now. I will close issue.

[2018-01-28 20:46] #74 closed

[2018-01-28 20:58] #73 closed

[2018-01-31 00:16] #94 closed

[2018-01-31 13:20] m-henderson opened #107 "Profile Image Resizing"
Allowing the resizing of profile images would be a great feature to add. I guess we could do this using javascript

[2018-01-31 13:21] m-henderson opened #108 "Integrating KnockoutJS"
what do you all think about integrating knockout js into the  application? we could really start building nice flowing frontends.

[2018-01-31 13:23] #7 closed

[2018-01-31 13:27] m-henderson commented on #71
@rembrandtreyes @drazenp this is very interesting. have you guys given this any more thought?

also, just to make sure this is clear, are you guys wanting the tenant to be able to login to their profile, see their stats, pay bill, ect?

[2018-01-31 13:33] m-henderson opened #109 "Searching For Tenants"
Right now, on the tenants page, this is what is returned when you search for a tenant but they dont exist:
![image](https://user-images.githubusercontent.com/16070192/35625635-af5548ba-0658-11e8-868a-b0708c01616c.png)
as you can see in the url, i am searching for a tenant, in this case her name is alyssa. I dont have any tenants named alyssa so it returns an alert that says hold up you dont have a

[2018-01-31 22:17] rembrandtreyes commented on #71
@m-henderson @drazenp Yes the tenant log in would work as a way for the tenants to see their bills and use that portal to pay for them as well.

So how the process will work, the property owner will enter their resident's information on their end and then residents can go create a resident account. This will require the resident and property owner to have their SSN on file. Typically the SSN is pr

[2018-02-01 13:46] m-henderson commented on #71
@rembrandtreyes @drazenp I like the idea. I think this would be awesome/fun to code up. Do you happen to know if our server needs to be PCI compliant for SSN? I don't think it does.

[2018-02-01 14:30] rembrandtreyes commented on #71
@m-henderson @drazenp So I do not think we have to be PCI compliant if we are just storing their SSN. However, if we are allowing the tenants to pay via debit card or credit then we would need to be PCI compliant unless the direction is to use a service like Stripe. There's is a lot more about data security that I am not too familiar with so if anyone else has anything to add that I am missing ple

[2018-02-01 23:06] drazenp opened #111 "Profile image is deleted if profile saved without image"
Steps to reproduce:
- Log in the application
- Click on your name in the header (edit profile page)
- Select image and click Save. -> Image will appear in the header.
- Click again on the Save button. -> Image will disappear and error image will be shown.

[2018-02-03 07:38] Hameds commented on #111
I will look into it

[2018-02-03 09:42] m-henderson commented on #76
I have added the ssl cert to the site. We can go aheadd and close this

[2018-02-03 09:42] #76 closed

[2018-02-03 16:24] Hameds commented on #111
It was a silly mistake! I fixed it in PR #116

[2018-02-04 15:06] #111 closed

[2018-02-05 14:21] Hameds commented on #107
Are you mean cropping? something like this
![cropping-linkedin-profile-picture](https://user-images.githubusercontent.com/1385656/35809189-2c1ddd06-0a9d-11e8-89e0-e60b8ff259b6.png)

[2018-02-05 22:22] m-henderson commented on #107
@Hameds exactly! that would be perfect

[2018-02-07 13:09] m-henderson opened #117 "SendGrid API key Not Importing from appsettings.json"
This past weekend, I made it to where all of the users that register have to click an activation link in their email. Well, I pushed the code into production and something went wrong ( i know what the problem was, i just dont have time to go into detail).

Right now, the activation links are not being sent to the users that register because we are not importing the SendGridAPI key from appsettings

[2018-02-07 13:23] inthevortex commented on #117
Ya, I didn't get my confirmation mail. The appsettings.json doesn't have any such field and why do we need to get it from environment variable?

[2018-02-07 14:49] m-henderson commented on #117
@inthevortex the goal is to edit the appsettings.json so we can pull in the send grid config.

[2018-02-07 14:57] inthevortex commented on #117
@m-henderson we can either put the key in appsettings.json and pull it using configuration manager or we can set it as the environment variable and pull that config. But to put it in the environment variable for testing and development, we would need to keep it somewhere so that people are able to obtain it.

[2018-02-08 02:45] m-henderson commented on #117
@inthevortex let's put it in appsettings.json for now. I think this will get us going !

[2018-02-08 05:32] inthevortex commented on #117
@m-henderson yes that will be the best idea. Please update the appsettings.json.

[2018-02-08 07:38] inthevortex commented on #109
Has this issue been solved?

[2018-02-08 07:42] inthevortex commented on #108
I have worked with angular2/4 and its good and that kind of architecture has more portability.

[2018-02-08 07:45] inthevortex commented on #108
Since you are also planning for an android and IOS app, why  not move the frontend to angular and the mvc will provide the backend along with APIs that will be called by all the three frontend applications.

[2018-02-08 08:06] drazenp commented on #109
I think it is. @m-henderson?

[2018-02-08 08:24] inthevortex commented on #109
I tested it. It has been solved. Kindly close the issue.

[2018-02-08 08:30] inthevortex opened #118 "Implement portal and registration for tenant"
I was thinking of implementing a portal for the tenants, so that they can access all their data, which in turn will be connected to a particular house owner. Whatever account an owner adds for a particular tenant, will also be shown on his profile and vice versa.
I have a few ideas on the pages and functionality. What say?

[2018-02-08 13:45] m-henderson commented on #109
@inthevortex @drazenp thanks guys! I will go ahead and close this one

[2018-02-08 13:45] #109 closed

[2018-02-08 14:40] inthevortex commented on #117
But that is for production usage, we can put a true in code for dev environment, so that it doesn't ask for verification.

[2018-02-10 17:50] #117 closed

[2018-02-10 17:51] m-henderson commented on #118
This is a great Idea. Do we already have an issue for this particular implementation?

[2018-02-11 16:29] inthevortex commented on #118
I referenced the issue, please check

[2018-02-12 02:04] m-henderson commented on #118
thanks @inthevortex 👍

[2018-02-12 02:15] #75 closed

[2018-02-12 06:16] inthevortex commented on #118
So should I start out with a tenant portal backend? Or maybe a basic frontend along with it.

[2018-02-12 21:49] drazenp opened #121 "Bearer token"
There is PR with implementation of authentication with Bearer token #120.
We can be used to access data from andoroid and iOS applications. I'm not sure if this make sense @m-henderson?

There is the API to generate the token and API to test it.
To test create post request on `http://[localhost:port]/api/token` with JSON data `{"email":"email@d.com", "password": "pass"}`. This API endpoint will re

[2018-02-13 08:07] drazenp commented on #121
If this is ok, before going on prod we could add secret key as environment variable.

[2018-02-13 12:29] m-henderson commented on #118
@inthevortex that sounds good!

[2018-02-13 12:31] m-henderson commented on #121
@drazenp this looks like it makes sense. I will have to read up on the docs and test this locally; at least we are moving forward!

[2018-02-14 07:19] inthevortex commented on #118
Then you can assign the issue. I am building the tenant backend.

[2018-02-14 08:31] inthevortex commented on #121
If the web interface is moved to angular, this will come in handy there too

[2018-02-14 09:05] drazenp commented on #121
Sorry, wrong button :)

[2018-02-14 10:33] inthevortex commented on #118
I want to make some design modifications.
If I  implement tenant portal, I would need to also change the way tenants are being linked to house owners and accounts. The tenant will create his/her own profile and enter a specific ID from the house owner field to link his/her profile to the house owner. House owner will get a notification and option to accept/reject. If accepted, the tenant will be s

[2018-02-14 10:43] drazenp commented on #118
What is specific ID?
To me it make more sense to have owner invite tenants if they wants it. This it ok if we want this to be application which allow owners to mange their tenants. Other way around looks wrong to me.

[2018-02-14 10:47] inthevortex commented on #118
@drazenp Specific ID as in tenant has to fill up the owners email ID while filling up the form. If there is no such owner email ID, then the task will fail.
Yes owner will be at discretion of adding the tenant, as soon as he rejects, the new tenant would be removed from the database. This will be helpful in seeing dues and manage accounting, as both will be able to see who owes how much and all. W

[2018-02-14 11:04] drazenp commented on #118
If I'm property owner I don't want my tenants know how much I'm owning :) it's more like personal data to me.
From owner points of view this could simplify this work, he needs just to accept tenant.

Why do you need to change link between house owners and tenants?

To me tenants could be regular accounts which are not active until they are not approved.

[2018-02-14 12:23] inthevortex commented on #118
Yaa

This is a good idea, instead of verification mail, we can change the status when it is approved. But then we need to differentiate between owners and tenants. How do you think we can do that?

[2018-02-15 06:50] inthevortex commented on #108
you can close this issue.

[2018-02-15 12:45] m-henderson commented on #108
@inthevortex closing now. Thanks!

[2018-02-15 12:45] #108 closed

[2018-02-16 05:33] inthevortex commented on #118
@drazenp can you provide your insight?

[2018-02-17 13:57] m-henderson opened #124 "redesign login page"
hey gang,
I would love for us to redesign the login page to look like this one:
![image](https://user-images.githubusercontent.com/16070192/36341717-0f1c8440-13b8-11e8-9d93-e9ce0be1e651.png)

I love this look and feel! I think it will definitely improve the look and feel of the app.

[2018-02-18 22:11] drazenp commented on #118
Based on current implementation roles should be enough, but having a type in `AspNetUsers` could solve the issue too. There are already tables in place for implementation of the roles. Unfortunately I'm not aware if this is the direction application should go, @m-henderson? If roles are ok and if you need help with the implementation I could help you.

[2018-02-18 22:13] drazenp commented on #121
PR #120 is merged, closing the ticket.

[2018-02-18 22:13] #121 closed

[2018-02-19 12:41] m-henderson commented on #118
@drazenp this is ok with me. Let's see where it goes. I think roles will be enough to discern between tenant and landlord.

[2018-02-25 22:50] order4adwriter commented on #8
Hi M=Henderson,

I just created a logo for mentorient.com.

You can check it out [right here](https://www.dropbox.com/sh/uef6ub7z4q6lgbe/AABo54YSYYIp9P0nvYU2zOiRa?dl=0) to see it and other variations  of the logo at Utopia.io

I hope you like it... or at least let me know what you think about it ok?

Thanks for your interest.

Phillip.

[2018-03-09 19:08] order4adwriter opened #125 "Privacy policy for Mentorient.com"
I noticed that the site has no privacy policy ...especially as it concerns the security or use of the private information as filled in the registration forms by prospective clients.

As a copywriter and a marketing expert, I know that  having a clear cut policy will surely boost the reputation and marketing/expansion plans of mentorient.com as a property app service provider.

This is especially a

[2018-03-09 19:14] order4adwriter commented on #125
Note : I hope the privacy policy page will be set up soon.... as I believe this one written by me will be great marketing and sales  copy for the website as well.

[2018-03-17 16:39] GeoDoo commented on #14
@m-henderson Hey! How are you? Could I tackle this one?